<form method="post" action="api/productos">
    <input type="text" name="title" placeholder="titulo"/>
    <input type="text" name="price" placeholder="precio"/>
    <input type="text" name="thumbnail" placeholder="url imagen"/>
    <button type="submit">Enviar</button>
</form>

<a href="/api/productos">Ver productos</a>