<a href="/">Crear</a>

{{#if exits}}
      <tr>

    <th>nombre</th>

    <th>precio</th>

    <th>img</th>

  </tr>

    {{#each data}}
    <br/>
 <tr>
      
  
    <td>{{title}}</td>

    <td>{{price}}</td>

    <td><img src={{thumbnail}}/></td>

  </tr>
    {{/each}}
 

</table>
{{else}}
    <h1>No hay productos</h1>
{{/if}}